

<br/><br>

<div class="container">

	<div class="row content">	
		<div class="row welcome">
			<div class="col-md-12">
        
			  <div class="display-6">Foto albumi familije Marković <br/><br/>
        
          
         </div>
        
			</div>
		</div> 




	  <div class="col-md-12">


		<div class="row">
			<div class="col-md-4">
				<div class="cardd">
					<div class="image">
			<a routerLink='/statistic'><img class="card-img-top" src="https://via.placeholder.com/600/24f355"> </a>

	  
				</div>
				<h2>Prčanj 2006. god.</h2>
				<p>kreirao: Mama</p>
			  </div>	
			</div>
			<div class="col-md-4">
			  <div class="cardd">
				  <div class="image">
			<a routerLink="/statistic"><img class="card-img-top" src="https://via.placeholder.com/600/d32776"> </a>
	  
			  
	  
			  </div>
			  <h2>Budimpešta 1994. god.</h2>
                 <p>kreirao: Mira</p>
				
			</div>	
		  </div>

      <div class="col-md-4">
			  <div class="cardd">
				  <div class="image">
			<a routerLink="/statistic"><img class="card-img-top" src="https://via.placeholder.com/600/f66b97"> </a>
	  
			  
	  
			  </div>
			  <h2>Kupusijada 2011. god.</h2>
        <p>kreirao: Ujko</p>
				
			</div>	
		  </div>
		 
		  </div>



      <div class="row">
        <div class="col-md-4">
          <div class="cardd">
            <div class="image">
        <a routerLink="/statistic"><img class="card-img-top" src="https://via.placeholder.com/600/56a8c2"> </a>
  
      
          </div>
          <h2>Prčanj 2006. god.</h2>
          <p>kreirao: Mama</p>
          </div>	
        </div>
        <div class="col-md-4">
          <div class="cardd">
            <div class="image">
        <a routerLink="/statistic"><img class="card-img-top" src="https://via.placeholder.com/600/b0f7cc"> </a>
      
          
      
          </div>
          <h2>Budimpešta 1994. god.</h2>
            <p>kreirao: Mira</p> 
          
        </div>	
        </div>
  
        <div class="col-md-4">
          <div class="cardd">
            <div class="image">
        <a routerLink="/statistic"><img class="card-img-top" src="https://via.placeholder.com/600/54176f"> </a>
      
          
      
          </div>
          <h2>Kupusijada 2011. god.</h2>
          <p>kreirao: Ujko</p>
          
        </div>	
        </div>
       
        </div>


  

	</div>
  </div>

  </div>

